<div class="container">
  <br><br>

  <app-self-intro *ngIf="displayIntro"></app-self-intro>

  <ng-container *ngIf="selectedProject.name.substring(0,9) == '#selenium'">
    <button type="button" class="btn btn-success" (click)="frameChange('#selenium-python', 'seleniumPython')">Python</button>
    <button type="button" class="btn btn-primary" (click)="frameChange('#selenium-java', 'seleniumJava')">Java</button>
  </ng-container>

  <ng-container *ngIf="selectedProject.name.substring(0,7) == '#survey'">
    <button type="button" class="btn btn-success" (click)="frameChange('#survey-stork-client', 'surveyStorkClient')">Client-side</button>
    <button type="button" class="btn btn-primary" (click)="frameChange('#survey-stork-server', 'surveyStorkServer')">Server-side</button>
    <button type="button" class="btn btn-info" disabled style="cursor: default"
    >Open Application</button>
  </ng-container>

  <ng-container *ngIf="selectedProject.name.substring(0,6) == '#alexa'">
    <sketches-audio></sketches-audio>
    <div style="margin-top: 30px"></div>
  </ng-container>

  <div class="git-glass">
    <br>
    <ng-container *ngFor="let projectId of projectIds">
      <div *ngIf="selectedProject.name == '#' + projectId.id" [id]="selectedProject.name.substring(1)"></div>
    </ng-container>
  </div>

</div>

