.git-glass div {
  font-size: 12px;
  height: 800px;
  width: 750px;
  margin-bottom: 2rem;
}

iframe body,html {
  min-width: 750px !important;
}

.container {
  background-color: #FFF;
  width: 800px;
  height: 1000px;
  border-radius: 20px;
}
