<div class="container">
  <br><br>
  <app-self-intro *ngIf="displayIntro"></app-self-intro>

  <button type="button" class="btn btn-success"
          *ngIf="selectedProject.name == '#selenium-java' || selectedProject.name == '#selenium-python'"
          (click)="toPythonFrame()">Python</button>
  <button type="button" class="btn btn-primary"
          *ngIf="selectedProject.name == '#selenium-java' || selectedProject.name == '#selenium-python'"
          (click)="toJavaFrame()">Java</button>
  <button type="button" class="btn btn-success"
          *ngIf="selectedProject.name == '#survey-stork-server' || selectedProject.name == '#survey-stork-client'"
          (click)="toClientFrame()">Client-side</button>
  <button type="button" class="btn btn-primary"
          *ngIf="selectedProject.name == '#survey-stork-server' || selectedProject.name == '#survey-stork-client'"
          (click)="toServerFrame()">Server-side</button>
  <button type="button" class="btn btn-info" onclick="window.open('https://survey-story.herokuapp.com/')"
          *ngIf="selectedProject.name == '#survey-stork-server' || selectedProject.name == '#survey-stork-client'"
          >Open Application</button>

    <div class="git-glass">
      <br>
      <ng-container *ngFor="let projectId of projectIds">
        <div *ngIf="selectedProject.name == '#' + projectId.id" [id]="selectedProject.name.substring(1)"></div>
      </ng-container>
    </div>
  </div>

