
<nav class="navbar navbar-default navbar-inverse bg-inverse">
  <div class="container-fluid">
    <div class="row pull-xs-right">
      <div class="col-md-3 hidden-md-down">
        <a class="navbar-brand" href="#">J o e y &nbsp;&nbsp; K u o</a>
      </div>
      <div class=" col-md-6">

      </div>
      <div class="col-md-3">
        <nav class="nav navbar-nav  navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/joeyskuo"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
</nav>
