
<nav class="navbar navbar-default navbar-inverse bg-inverse">
  <div class="container-fluid">
    <div class="row pull-xs-right">
      <div class="col-md-12 hidden-md-down">
        <a class="navbar-brand" href="#" (click)="introSelect()">J o e y &nbsp;&nbsp; K u o</a>
        <nav class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/joeyskuo"><i class="fa fa-github fa-lg" aria-hidden="true"></i> GitHub</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
</nav>
