.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: black;
}

.nav-item a {
  display: inline;
  width: 100px;
  float: right;
  height: 50px;
  padding: 15px 0px;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  color: #9d9d9d;
}


.navbar-brand {
  margin-left: 50px;
}
