
  <div class="copyright">
    <div class="span">
      <div class="col-xs-12 col-md-6 col-lg-3">
        <ul id="phone" class="bottom_ul">
          <li ><i class="fa fa-phone"></i> Phone: (951) 565-1788</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <ul id="email" class="bottom_ul">
          <li><i class="fa fa-envelope"></i> E-mail : joeyskuo@gmail.com</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-5" >
        <p style="text-align: center">© 2017 - Site by Joey Kuo</p>
      </div>

    </div>
  </div>

