<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10">
      <h4>PROJECTS</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 details">
    </div>
    <div class="col-xs-9 listbox">
      <ul>
        <li>Selenium WebDriver test suites developed in Java and Python</li>
        <li>Robot framework test cases developed for Amazon homepage</li>
        <li>Appium test cases created for AliExpress app</li>
        <li>Angular 4 personal web page</li>
        <li>REST API developed using Flask-RESTful and SQLAlchemy</li>
        <li>Voice user interface implemented for an online pictionary game</li>
        <li>Pytest test cases for E-commerce REST API</li>
      </ul>
    </div>
  </div>
</div>
