<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10">
      <h4>PROJECTS</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 details">
    </div>
    <div class="col-xs-9 listbox">
      <app-project-detail *ngFor="let projectEl of projects"
      [project]="projectEl"></app-project-detail>
      <a href="#" class="list-group-item clearfix" (click)="onSelected()">
        <div class="pull-left">
          <p class="list-group-item-text">Selenium WebDriver test suites developed in Java and Python</p>
        </div>
      </a>
      <a href="#" class="list-group-item clearfix">
        <div class="pull-left">
          <p class="list-group-item-text">Robot framework test cases developed for Amazon homepage</p>
        </div>
      </a>
      <a href="#" class="list-group-item clearfix">
        <div class="pull-left">
          <p class="list-group-item-text">Appium test cases created for AliExpress app</p>
        </div>
      </a>
      <a href="#" class="list-group-item clearfix">
        <div class="pull-left">
          <p class="list-group-item-text">Angular 4 personal web page</p>
        </div>
      </a>
      <a href="#" class="list-group-item clearfix">
        <div class="pull-left">
          <p class="list-group-item-text">REST API developed using Flask-RESTful and SQLAlchemy</p>
        </div>
      </a>
      <a href="#" class="list-group-item clearfix">
        <div class="pull-left">
          <p class="list-group-item-text">Voice user interface implemented for an online pictionary game</p>
        </div>
      </a>
      <a href="#" class="list-group-item clearfix">
        <div class="pull-left">
          <p class="list-group-item-text">Pytest test cases for E-commerce REST API</p>
        </div>
      </a>
    </div>
  </div>
</div>
