.container {
  position: relative;
  top: 20px;
  width: 95%;
  margin-bottom: 15px;
}

img {
  margin: auto;
  display: block;
}

.skills-list {
  margin: auto;
  width: 65%;
}

h3 {
  text-align: center;
}
