<div class="container">
  <div>
    <img src="profi.png" name="aboutme" width="180" height="180" border="0" class="img-circle">
    <br><br>
    <h3 class="media-heading">Joey Kuo <small>San Jose, CA</small></h3>
    <div class="skills-list">
      <span><strong>Skills: </strong></span>
      <span class="label label-warning">Java</span>
      <span class="label label-success">Python</span>
      <span class="label label-info">Selenium WebDriver</span>
      <span class="label label-primary">HTML</span>
      <span class="label label-primary">CSS</span>
      <span class="label label-danger">AngularJS</span>
    </div>
  </div>
  <hr>
  <div style="font-size: medium">
              <p class="text-left" >
                <strong>Welcome to my website!</strong> I'm an Electrical Engineering Graduate of San Jose State University who is passionate about Software QA; I love the ability to transfer my skills across mobile and web projects.
              </p>
              <br>
              <p>Select a project to view code samples!</p>
    <br><br>

  </div>
</div>
