
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-9">
      <h4>EXPERIENCE</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 details" style="margin-top: 6px">
      <p><strong>Production Technician</strong></p>
      <p style="font-size: 11px">November 2012 - November 2013</p>
      <p>EarthLCD</p>
    </div>
    <div class="col-xs-9 listbox">
      <ul>
        <li>Provided technical support to customers for hardware and software issues</li>
        <li>Managed RMAs through refunds, replacement, and repairs</li>
        <li>Assembled, tested, and calibrated a wide range of touchscreen LCD products</li>
      </ul>
    </div>
  </div>

