<div class="container">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-9">
      <h2><strong>EXPERIENCE</strong></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <p><strong>Production Technician</strong></p>
      <p>November 2012 - November 2013</p>
    </div>
    <div class="col-xs-9">
      <ul>
        <li>Familiarity testing web applications with Selenium WebDriver using JUnit and TestNG frameworks</li>
        <li>Created test cases for AAa</li>
        <li>Automated end-to-end requests</li>
        <li>proficiency with linux OS and command line</li>
        <li>Knowledge of qa concepts and methodologies</li>
      </ul>
    </div>
  </div>
</div>
