.container-fluid {
  background-color: black;
}
#wrapper {
  height:100%;
  width:100%;
  background-color:black;
}

#first {
  background-color:black;
  height: 120px;
}

#glass {
  margin-bottom: 20px;
}

.mount {
  height: 500px;
  width: 100%;
  display: grid;
}

.btn {
  margin: auto;
}
