
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-8">
      <h4>ADDITIONAL SKILLS</h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-3 details" style="font-weight: bold">
      <p>Programming/Scripting</p>
      <br><br>
      <p>Tools/Frameworks</p>
      <br style="line-height: 250%">
      <p>Web Technologies</p>
    </div>
    <div class="col-xs-9 listbox">
      <div class="col-xs-6">
        <div style="margin-left: 2em">
          <p>Java</p>
          <p>Javascript</p>
          <br>
          <p>Selenium</p>
          <p>Robot</p>
          <br>
          <p>HTML</p>
        </div>
        </div>
      <div class="col-xs-6">
        <p>Python</p>
        <p>SQL</p>
        <br>
        <p>JUnit/TestNG</p>
        <p>Bugzilla/JIRA</p>
        <br>
        <p>CSS</p>
      </div>
    </div>
  </div>

