br {
  line-height: 100%;
}

.category {
  text-align: left;
  font-size: 15px;
  //font-size: 1.65vh;
  line-height: 0.5;
  //width: 35%;
  white-space: nowrap;
  font-weight: bold;
  left: 30px;
}

.category2 {
  text-align: left;
  font-size: 15px;
  //font-size: 1.65vh;
  line-height: 0.5;
  //width: 35%;
  white-space: nowrap;
  font-weight: bold;

  left: 30px;
}
.reali {
  margin-left: 0px;
}
.skills {
  font-size: 15px;
  white-space: nowrap;

}

.skills p {
  margin-left: 30px;
  line-height: 0.7;
}
