<div class="container">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-9">
      <h2><strong>ADDITIONAL SKILLS</strong></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <p><strong>Programming/Scripting</strong></p>
      <p><strong>Tools/Frameworks</strong></p>
      <p><strong>Web Technologies</strong></p>
    </div>
    <div class="col-xs-9">
      <div class="col-xs-6">
        <p>Java</p>
      </div>
      <div class="col-xs-6">
        <p>Python</p>
      </div>
    </div>
  </div>
</div>
