.container {
  background-color: #FFF;
  border-radius: 20px;
  width: 800px;
}

/deep/ .listbox {
  width: 500px;
  //background-color: #8959a8;
         font-size: 15px;
}

/deep/ .details {
         text-align: right;
         line-height: 0.6;
         //background-color: #4271ae;
         width: 250px;
       }

/deep/ h4 {
         margin-left: 3em;
         font-weight: bold;
       }
