.container {
  background-color: #FFF;
  border-radius: 20px;
  width: 95%;
  margin-bottom: 15px;
}

/deep/ .listbox {
         font-size: 15px;
       }

/deep/ .details {
         text-align: left;
         font-size: 14px;
         line-height: 0.5;
         padding-left: 0px;
         left: 0px;
         white-space: nowrap;
       }

/deep/ h4 {
         margin-left: 2em;
         font-weight: bold;
       }

/deep/ .row {
          width: 100%;
       }
