
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <h4>SKILLS</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 details" style="margin-top: 6px">
      <p><strong>San Jose State University</strong></p>
      <p>M.S. Electrical Engineering</p>
      <p>January 2014 - May 2017</p>
      <p><strong>GPA: 3.33</strong></p>
    </div>

    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8 listbox">
      <ul>
        <li>React app development using Redux and Jest</li>
        <li>Developed test cases and test frameworks for mobile and web applications</li>
        <li>Familiarity with black box test design techniques</li>
        <li>Understanding of testing methodologies including exploratory, usability, compatibility, and functional testing</li>
        <li>Basic understanding of SOAP and REST webservices</li>
        <li>Proficiency with Linux OS and command line</li>
        <li>Knowledge of SDLC</li>
      </ul>
    </div>
  </div>

