<div class="container">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-9">
      <h2><strong>SKILLS</strong></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <h4><strong>San Jose State University</strong></h4>
      <p>M.S. Electrical Engineering</p>
      <p>January 2014 - May 2017</p>
      <p><strong>GPA: 3.33</strong></p>
    </div>
    <div class="col-xs-9">
      <ul>
        <li>Familiarity testing web applications with Selenium WebDriver using JUnit and TestNG frameworks</li>
        <li>Created test cases for AAa</li>
        <li>Automated end-to-end requests</li>
        <li>proficiency with linux OS and command line</li>
        <li>Knowledge of qa concepts and methodologies</li>
      </ul>
    </div>
  </div>
</div>
