<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10">
      <h4>SKILLS</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 details">
      <p><strong>San Jose State University</strong></p>
      <p>M.S. Electrical Engineering</p>
      <p>January 2014 - May 2017</p>
      <p><strong>GPA: 3.33</strong></p>
    </div>
    <div class="col-xs-9 listbox">
      <ul>
        <li>Familiarity testing web applications with Selenium WebDriver using JUnit and TestNG frameworks</li>
        <li>Created test cases for native Android apps using Appium and UI Automator</li>
        <li>Automated end-to-end requests for REST API endpoints using Postman and SOAPUI</li>
        <li>Proficiency with Linux OS and command line</li>
        <li>Knowledge of QA concepts and methodologies</li>
        <li>Familiarity with Data Structures and Algorithms</li>
      </ul>
    </div>
  </div>
</div>
